/* Global Styles */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1a2e44;

}

.center {
    text-align: center;
}

p {
    text-align: center;
    color: crimson;
}

video {
    display: block;
    margin: auto;
}

img {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;


}

nav,
header,
section,
footer {
    background-color: #0367A6;

}

/* Mobile Styles */

#container {
    margin: 5px;
}

p {
    padding: 10px;
}

h1,
h2,
h3 {
    text-align: center;
}

nav {
    margin-bottom: 10px;
    text-align: center;
    padding: 6px;
}

nav ul {
    list-style-type: none;

}

nav li {
    display: block;
}

nav li a {
    display: block;
    background-color: #05DBF2;
    margin: 10px 0;
    height: 40px;
    line-height: 40px;
    font-size: 1.25em;
    font-weight: bold;
    text-decoration: none;
    color: #091018;
    border-bottom: 4px solid #F5D156;
}

header {
    padding: 20px;
}

section {
    margin: 10px 0;
    padding: 10px;

}

#multi_col {
    background-color: #F5D156
}

.col {
    margin: 10px 0;
    padding: 10px;

}

#lower_area {
    background-color: #BBD5E5;
    padding: 10px;
}

.column {
    margin: 10px;
    padding: 10px;
    border-bottom: 4px solid #0367A6;
}

.column img {
    width: 75%;

}

footer {
    padding: 40px 0;
    text-align: center;
    margin-top: 10px;
}

/* Tablet Styles */

@media (min-width: 768px) {

    nav {
        padding: 20px;
    }

    nav li {
        display: inline-block;
    }

    nav li a {
        width: 150px;
        border-radius: 10px
    }

    #multi_col {
        display: flex;
    }

    .col {
        width: 50%;
    }

    .col_text {
        margin-top: 60px;
    }

    .column img {
        width: 40%;
    }

}

/* Desktop Styles */

@media (min-width: 1024px) {
    nav li a {
        background-color: #05DBF2;
    }

    nav li a:hover {
        border-bottom: 4px solid #F5D156;
    }

    #container {
        width: 75%;
        margin: 0 auto;
    }

    #lower_area {
        display: flex;
    }

    .column img {
        width: 75%;
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }
}